html, body {
	height: 100%;
}

body {
	background: rgb(201,201,201);
}

.center {
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.container {
	text-align: center;
	vertical-align: text-top;
}

.container > * {
	position: relative;
	vertical-align: middle;
	line-height: 100%;
	display: inline-block;
}

main {
	background: #fff;
	height: 80%;
	width: 80%;
	/* min-width set to the min-width of children */
	overflow: hidden;
}

#left {
	height: 25em;
	width: 12.5em;
	background: rgb(155,202,62);
}

#middle {
	height: 100%;
	max-height: calc(100% - 2.5em);
	width: 100%;
	width: calc(100% - 12.5em - 12.5em - 2.5em - 2.5em);
	min-width: 12.5em;
	background: rgb(246,140,31);
	margin: 1.25em;
}


#right {
	height: 18.5em;
	width: 12.5em;
	background: rgb(47,122,190);
}
